/* Styl dla smartfonów */
@media (max-width: 480px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9f9f9;
    padding-top: 6vh;
  }
  .contact__container h1 {
    font-size: 2.1rem;
    margin: 25px 0px;
  }
  .contact__container h2 {
    font-size: 1.1rem;
    margin: 10px 0px;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .contact__headers {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
  }
  .contact__header--selected {
    text-decoration: underline;
    font-weight: bold;
  }
  .contact__container h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__headers h3:hover {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact__container form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .contact__container input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    color: #f9f9f9;
    background-color: #0d1b16;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 5%;
  }
  .contact__container input::placeholder {
    height: 100px;
    color: #7dffaf;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .contact__container textarea {
    width: 100%;
    resize: none;
    background-color: #0d1b16;
    border: none;
    height: 150px;
    padding-left: 5%;
    padding-top: 3%;
    color: #f9f9f9;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .contact__container textarea::placeholder {
    color: #7dffaf;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .contact__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-size: 1rem;
    border: none;
    margin: 2%;
    color: black;
  }
  .contact__container button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.6rem 1.5rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    color: black;
  }
  .contact__button__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

/* Styl dla tabletów */
@media (min-width: 481px) and (max-width: 1024px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9f9f9;
    padding-top: 5vh;
  }
  .contact__container h1 {
    font-size: 2.5rem;
    margin: 25px 0px;
  }
  .contact__container h2 {
    font-size: 1.2rem;
    margin: 10px 0px;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .contact__headers {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
  }
  .contact__header--selected {
    text-decoration: underline;
    font-weight: bold;
  }
  .contact__container h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__headers h3:hover {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact__container form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .contact__container input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    color: #f9f9f9;
    background-color: #0d1b16;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 5%;
  }
  .contact__container input::placeholder {
    height: 100px;
    color: #7dffaf;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact__container textarea {
    width: 100%;
    resize: none;
    background-color: #0d1b16;
    border: none;
    height: 130px;
    padding-left: 5%;
    padding-top: 3%;
    color: #f9f9f9;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact__container textarea::placeholder {
    color: #7dffaf;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.6rem 1.5rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    margin: 2%;
    color: black;
  }
  .contact__container button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    color: black;
  }
  .contact__button__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

/* Styl dla laptopów i małych monitorów */
@media (min-width: 1025px) and (max-width: 1280px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9f9f9;
  }
  .contact__container h1 {
    font-size: 3.5rem;
    margin: 45px 0px;
  }
  .contact__container h2 {
    font-size: 1.5rem;
    margin: 10px 0px;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .contact__headers {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
  }
  .contact__header--selected {
    text-decoration: underline;
    font-weight: bold;
  }
  .contact__container h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__headers h3:hover {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact__container form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .contact__container input {
    width: 43%;
    height: 100px;
    margin-bottom: 20px;
    color: #f9f9f9;
    background-color: #0d1b16;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 5%;
  }
  .contact__container input::placeholder {
    height: 100px;
    color: #7dffaf;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact__container textarea {
    width: 100%;
    resize: none;
    background-color: #0d1b16;
    border: none;
    height: 250px;
    padding-left: 5%;
    padding-top: 3%;
    color: #f9f9f9;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact__container textarea::placeholder {
    color: #7dffaf;
    font-size: 2rem;
    font-weight: 400;
  }
  .contact__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    margin: 2%;
    color: black;
  }
  .contact__container button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    color: black;
  }
  .contact__button__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

/* Styl dla dużych ekranów */
@media (min-width: 1281px) and (max-width: 1920px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9f9f9;
  }
  .contact__container h1 {
    font-size: 3.5rem;
    margin: 45px 0px;
  }
  .contact__container h2 {
    font-size: 1.5rem;
    margin: 10px 0px;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .contact__headers {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
  }
  .contact__header--selected {
    text-decoration: underline;
    font-weight: bold;
  }
  .contact__container h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__headers h3:hover {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact__container form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .contact__container input {
    width: 43%;
    height: 60px;
    margin-bottom: 20px;
    color: #f9f9f9;
    background-color: #0d1b16;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 5%;
  }
  .contact__container input::placeholder {
    height: 80px;
    color: #7dffaf;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .contact__container textarea {
    width: 100%;
    resize: none;
    background-color: #0d1b16;
    border: none;
    height: 150px;
    padding-left: 5%;
    padding-top: 3%;
    color: #f9f9f9;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .contact__container textarea::placeholder {
    color: #7dffaf;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .contact__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    margin: 2%;
    color: black;
  }
  .contact__container button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    color: black;
  }
  .contact__button__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1921px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9f9f9;
  }
  .contact__container h1 {
    font-size: 4rem;
    margin: 20px 0px;
  }
  .contact__container h2 {
    font-size: 1.8rem;
    margin: 20px 0px;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .contact__headers {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
  }
  .contact__header--selected {
    text-decoration: underline;
    font-weight: bold; /* Opcjonalnie dodaj pogrubienie */
  }
  .contact__container h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__headers h3:hover {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  .contact__fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact__container form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .contact__container input {
    width: 43%;
    height: 100px;
    margin-bottom: 20px;
    color: #f9f9f9;
    background-color: #0d1b16;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 5%;
  }
  .contact__container input::placeholder {
    height: 100px;
    color: #7dffaf;
    font-size: 2rem;
    font-weight: 400;
  }
  .contact__container textarea {
    width: 100%;
    resize: none;
    background-color: #0d1b16;
    border: none;
    height: 250px;
    padding-left: 5%;
    padding-top: 3%;
    color: #f9f9f9;
    font-size: 2rem;
    font-weight: 400;
  }
  .contact__container textarea::placeholder {
    color: #7dffaf;
    font-size: 2rem;
    font-weight: 400;
  }
  .contact__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    margin: 2%;
    color: black;
  }
  .contact__container button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
    color: black;
  }
  .contact__button__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
