/* Styl dla smartfonów */
@media (max-width: 480px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 12vw;
  }
  .header__container img {
    object-fit: contain;
    width: 50vw;
    margin-left: 8vw;
  }
  .header__wrapper button {
    display: none;
  }
}

/* Styl dla tabletów */
@media (min-width: 481px) and (max-width: 1024px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 12vw;
  }
  .header__container img {
    object-fit: contain;
    width: 30vw;
    margin-left: 8vw;
  }
  .header__wrapper button {
    display: none;
  }
}

/* Styl dla laptopów i małych monitorów */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 12vw;
  }
  .header__container img {
    object-fit: contain;
    width: 15vw;
    margin-left: 8vw;
  }
  .header__wrapper button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
  .header__wrapper button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
}

/* Styl dla dużych ekranów */
@media (min-width: 1281px) and (max-width: 1920px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 12vw;
  }
  .header__container img {
    object-fit: contain;
    width: 15vw;
    margin-left: 8vw;
  }
  .header__wrapper button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
  .header__wrapper button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 15px 0;
  }

  .sidebar ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .sidebar button {
    align-self: flex-end;
    background: none;
    border: none;
    color: #f9f9f9;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu-icon {
    color: white;
    font-size: 50px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1921px) {
  .header__container {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 12vw;
  }
  .header__container img {
    object-fit: contain;
    width: 15vw;
    margin-left: 12vw;
  }
  .header__wrapper button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #f9f9f9;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
  .header__wrapper button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #00f55a;
    padding: 0.8rem 1.9rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    border: none;
  }
  .header__wrapper svg {
    cursor: pointer;
  }
}
