/* Styl dla smartfonów */
@media (max-width: 480px) {
  .socials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
    border-bottom: solid 1px #7dffaf;
  }
  .socials__wrapper__row h1 {
    color: #f9f9f9;
    font-size: 1.8rem;
  }
  .socials__wrapper__row h2 {
    color: #f9f9f9;
    font-size: 0.8rem;
  }
  .socials__wrapper__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    gap: 5%;
    width: 45%;
  }
  .socials__wrapper__column h2 {
    margin: 5px 0;
    font-size: 0.7rem;
  }
  .socials__icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    min-width: 150px;
    min-height: 5vh;
  }
}

/* Styl dla tabletów */
@media (min-width: 481px) and (max-width: 1024px) {
  .socials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 23vh;
    width: 100%;
    border-bottom: solid 1px #7dffaf;
  }
  .socials__wrapper__row h1 {
    color: #f9f9f9;
    font-size: 2rem;
  }
  .socials__wrapper__row h2 {
    color: #f9f9f9;
    font-size: 1rem;
  }
  .socials__wrapper__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 25%;
  }
  .socials__wrapper__column h2 {
    margin: 5px 0;
    font-size: 0.8rem;
  }
  .socials__icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    min-width: 150px;
    min-height: 5vh;
  }
}

/* Styl dla laptopów i małych monitorów */
@media (min-width: 1025px) and (max-width: 1280px) {
  .socials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 28vh;
    width: 100%;
    border-bottom: solid 1px #7dffaf;
  }
  .socials__wrapper__row h1 {
    color: #f9f9f9;
    font-size: 3rem;
  }
  .socials__wrapper__row h2 {
    color: #f9f9f9;
    font-size: 1rem;
  }
  .socials__wrapper__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;
  }
  .socials__wrapper__column h2 {
    margin: 5px 0;
  }
  .socials__icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 100%;
  }
}

/* Styl dla dużych ekranów */
@media (min-width: 1281px) and (max-width: 1920px) {
  .socials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 28vh;
    width: 100%;
    border-bottom: solid 1px #7dffaf;
  }
  .socials__wrapper__row h1 {
    color: #f9f9f9;
    font-size: 3.5rem;
  }
  .socials__wrapper__row h2 {
    color: #f9f9f9;
    font-size: 1.25rem;
  }
  .socials__wrapper__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;
  }
  .socials__wrapper__column h2 {
    margin: 5px 0;
  }
  .socials__icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 100%;
  }
}
@media (min-width: 1921px) {
  .socials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .socials__wrapper__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    width: 100%;
    border-bottom: solid 1px #7dffaf;
  }
  .socials__wrapper__row h1 {
    color: #f9f9f9;
    font-size: 4rem;
  }
  .socials__wrapper__row h2 {
    color: #f9f9f9;
    font-size: 1.8rem;
  }
  .socials__wrapper__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;
  }
  .socials__wrapper__column h2 {
    margin: 5px 0;
  }
  .socials__icons__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 100%;
  }
}
